* {
  margin: 0;
  padding: 0;
}

body {
  /*font-family: 'Pontano Sans', sans-serif;
    font-family: 'Abhaya Libre', serif;
    font-family: 'Architects Daughter', cursive;
    font-family: 'Cookie', cursive;
    font-family: 'Dancing Script', cursive;
    font-family: 'Indie Flower', cursive;
    font-family: 'Noto Sans', sans-serif;
    font-family: 'Pontano Sans', sans-serif;
    font-family: 'Raleway', sans-serif;
    font-family: 'Roboto', sans-serif;*/
  font-family: "Raleway", sans-serif;
  text-align: center;
  max-width: 100%;
  min-width: 10%;
}

/*#page {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-content: space-between;
  max-width: 100%;
  min-width: 10%;
  height: 3700px;
  background-color: #ffffff;
  background-image: url(img/fondopage1.jpg);
  background-repeat: no-repeat;
  background-size: contain;
}

#encabezado{

  height: 500px;
}

#cuerpo{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 1500px;
}

#pie{

  height: 500px;
  background-color: whitesmoke;
}*/

/*Navegacion*/

nav {
  width: 100%;
  height: 150px;
}

a:link {
  text-decoration-line: none;
}

ul li {
  list-style: none;
}

.contain_menu ul li {
  display: inline;
  margin-left: 10px;
  margin-right: 10px;
  font-size: 25px;
  font-weight: 600;
  font-family: "Pontano Sans", sans-serif;
}

ul li a {
  color: black;
}

/*--------------Navegacion contenido----------------*/

ul.submenu {
  list-style: none;
  font-size: 0; /* truco por el uso de inline-block*/
  margin-right: 10%;
}
ul.submenu li {
  display: inline-block;
  width: 120px;
  position: relative;
  font-size: 14px;
  border-left: 1px solid white;
  border-right: 1px solid white;
  font-size: 20px;
  font-weight: 500;
  font-family: "Roboto", sans-serif;
}
ul.submenu ul {
  position: absolute;
  display: none;
  background: rgb(165, 211, 238);
  border: 1px solid whitesmoke;
}
ul.submenu ul li {
  display: block;
  color: whitesmoke;
  width: auto;
  height: auto;
  border: 1px solid whitesmoke;
}

ul.submenu ul li a {
  color: brown;
}

ul.submenu li:hover ul {
  display: block;
  width: 120px;
}

div.nav_contenido {
  display: flex;
  height: 30px;
  justify-content: end;
  background: grey;
}

/*----------------Navegacion WEB-------------------*/

.nav_bar {
  display: flex;
  position: fixed;
  flex-direction: column;
  width: 100%;
  height: 150px;
  background-color: #f2f1ec;
  border-bottom: 4px solid black;
}

.container_icon {
  display: flex;
  width: 135px;
  height: 135px;
  margin-left: 10%;
}
.container_icon img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.contain_menu {
  display: flex;
  width: 100%;
  justify-content: center;
  position: absolute;
  bottom: 11px;
}

/*Banner*/

.container_banner {
  display: flex;
  width: 100%;
  border-bottom: 4px solid black;
}

.container_banner img {
  object-fit: cover;
  width: 100%;
}

/*Seccion Ofertas*/

section.ofertas {
  background: #c9d6ff; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to bottom,
    #e2e2e2,
    #c9d6ff
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to top,
    #e2e2e2,
    #c9d6ff
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  width: 100%;
}

span.titulo {
  width: 100%;
  height: 100px;
  display: block;
  padding-top: 25px;
  font-size: 30px;
}

div.container_ofer ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

div.container_ofer li {
  list-style: none;
}

div.container__ofer--position {
  display: flex;
  width: 350px;
  margin-bottom: 1%;
}

div.container__ofer--imagen {
  width: 70%;
  height: 180px;
}

div.container_ofer img {
  object-fit: cover;
  width: 100%;
}

span h2 {
  font-family: "Noto Sans", sans-serif;
  font-size: 20px;
  font-style: italic;
}

span.container__text {
  width: 30%;
}

/* div imagen entre seccion*/

.contain_difsec {
  display: flex;
  width: 100%;
  height: 500px;
}

.contain_difsec img {
  object-fit: cover;
  width: 100%;
}

/*Seccion Iframe*/

article {
  width: 50%;
}

section.iframe {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  width: 100%;
  background: #c9d6ff; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to bottom,
    #e2e2e2,
    #c9d6ff
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to bottom,
    #e2e2e2,
    #c9d6ff
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

div.container__text--art2 {
  display: flex;
  margin-top: 5%;
  margin-left: 5%;
  margin-right: 5%;
  text-align: justify;
  color: black;
}

div.container_ifram {
  display: flex;

  margin-left: 5%;
  margin-top: 5%;
  margin-bottom: 5%;
}
div.container_ifram iframe {
  width: 100%;
}

/*footer*/

.container_footer {
  display: flex;
  font-family: Arial, Helvetica, sans-serif;
  width: 100%;
  height: 200px;
  justify-content: space-around;
  background: whitesmoke;
}

footer ul li {
  list-style: none;
  display: inline-block;
}

/*.container_legal {
  display: flex;
  position: absolute;
  left: 5%;
  top: 20%;
  height: 40%;
}*/

.container_legal {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: left;
  justify-content: space-evenly;
}

.container_legal a {
  color: grey;
}

.contain_social {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: justify;
  height: 30%;
  margin-top: 4%;
}

.contain_social h3 {
  width: auto;
  text-align: left;
  margin-top: 2px;
  margin-bottom: 6px;
}

.contain_socicon {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

div.container_icon_foot {
  display: flex;
  width: 135px;
  height: 135px;
}

div.container_icon_foot img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.container_copyR {
  display: inline-block;
  width: 100%;
  background: black;
}

.container_copyR h4 {
  color: white;
  font-weight: lighter;
}

.containBackground {
  height: 280px;
  background-image: url(img/footer1.jpg);
  background-repeat: no-repeat;
}

/*------------------main products----------------*/

.container_category {
  display: flex;
  flex-direction: row;
  justify-content: stretch;
}

.container_list {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 500px;
  align-items: flex-start;
  padding-left: 10px;
  padding-right: 10px;
}

#category{

  display: flex;
    position: sticky;
    top: 150px;
    flex-direction: column;
    width: 30%;
    height: 500px;
}