* {
  margin: 0;
  padding: 0;
}

body {
  /*font-family: 'Pontano Sans', sans-serif;
    font-family: 'Abhaya Libre', serif;
    font-family: 'Architects Daughter', cursive;
    font-family: 'Cookie', cursive;
    font-family: 'Dancing Script', cursive;
    font-family: 'Indie Flower', cursive;
    font-family: 'Noto Sans', sans-serif;
    font-family: 'Pontano Sans', sans-serif;
    font-family: 'Raleway', sans-serif;
    font-family: 'Roboto', sans-serif;*/
  font-family: "Raleway", sans-serif;
  text-align: center;
  max-width: 100%;
  min-width: 10%;
  background: #e0eafc; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to top,
    #cfdef3,
    #e0eafc
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to top,
    #cfdef3,
    #e0eafc
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

/*Navegacion*/

nav {
  width: 100%;
  height: 150px;
}

a:link {
  text-decoration-line: none;
  text-transform: capitalize;
}

ul li {
  list-style: none;
}

.contain_menu ul li {
  display: inline;
  margin-left: 10px;
  margin-right: 10px;
  font-size: 25px;
  font-weight: 600;
  font-family: "Pontano Sans", sans-serif;
}

ul li a {
  color: black;
}

/*--------------Navegacion contenido----------------*/

ul.submenu {
  list-style: none;
  font-size: 0; /* truco por el uso de inline-block*/
  margin-right: 10%;
}
ul.submenu li {
  display: inline-block;
  width: 120px;
  position: relative;
  font-size: 14px;
  border-left: 1px solid white;
  border-right: 1px solid white;
  font-size: 20px;
  font-weight: 500;
  font-family: "Roboto", sans-serif;
}
ul.submenu ul {
  position: absolute;
  display: none;
  background: #000000; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to left,
    #434343,
    #000000
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to left,
    #434343,
    #000000
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  border: 1px solid whitesmoke;
}
ul.submenu ul li {
  display: block;
  color: whitesmoke;
  width: auto;
  height: auto;
  border: 1px solid whitesmoke;
}

ul.submenu ul li a {
  color: brown;
}

ul.submenu li:hover ul {
  display: block;
  width: 120px;
}

.nav_contenido {
  display: flex;
  height: 30px;
  justify-content: end;
  background: grey;
}

/*----------------Navegacion WEB-------------------*/

.nav_bar {
  display: flex;
  position: fixed;
  flex-direction: column;
  width: 100%;
  height: 150px;
  background-color: #f2f1ec;
  border-bottom: 4px solid black;
}

.container_icon {
  display: flex;
  width: 135px;
  height: 135px;
  margin-left: 10%;
}
.container_icon img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.contain_menu {
  display: flex;
  width: 100%;
  justify-content: center;
  position: absolute;
  bottom: 11px;
}

/*------------------Banner-------------------------*/

.container_banner {
  display: flex;
  width: 100%;
  border-bottom: 4px solid black;
}

.container_banner img {
  object-fit: cover;
  width: 100%;
}

/*-------------------Seccion Promos-----------------*/

.ofertas {
  background: #c9d6ff; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to bottom,
    #e2e2e2,
    #c9d6ff
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to top,
    #e2e2e2,
    #c9d6ff
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  width: 100%;
}

.titulo {
  width: 100%;
  height: 100px;
  display: block;
  padding-top: 25px;
  font-size: 25px;
}

.container__ofer--position {
  display: flex;
  width: 100%;
  margin-bottom: 1%;
}

.container__ofer--imagen{
  width: 300px;
  height: 300px;
}

.container_ofer img {
  object-fit: cover;
  width: 100%;
}

span h3 {
  font-family: "Noto Sans", sans-serif;
  font-size: 20px;
  font-style: italic;
  text-transform: capitalize;
}

.container__text {
  width: 30%;
  text-align: justify;
  margin-left: 5px;
}

/*------------------Delivery-------------------------*/

.contain_difsec {
  display: flex;
  width: 100%;
  height: 500px;
}

.contain_difsec img {
  object-fit: fill;
  width: 100%;
  height: 100%;
}

/*----------------Seccion Iframe--------------------*/

.containSectionIframe {
  width: 50%;
}

.iframe {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  width: 100%;
  background: #c9d6ff; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to bottom,
    #e2e2e2,
    #c9d6ff
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to bottom,
    #e2e2e2,
    #c9d6ff
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.container__text--art2 {
  display: flex;
  margin-top: 5%;
  margin-left: 5%;
  margin-right: 5%;
  text-align: justify;
  color: black;
}

.container_ifram {
  display: flex;

  margin-left: 5%;
  margin-top: 5%;
  margin-bottom: 5%;
}
.container_ifram iframe {
  width: 100%;
}

/*-------------------footer----------------------*/

.containBackground {
  position: relative;
  overflow: hidden;
}

.containBackground::before {
  content: " ";
  display: block;
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 300px;
  background-image: url(img/footer1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.6;
}

.container_footer {
  display: flex;
  position: relative;
  font-family: Arial, Helvetica, sans-serif;
  width: 100%;
  height: 300px;
  justify-content: space-around;
  z-index: 2;
}

footer ul li {
  display: inline-block;
  opacity: 1;
}

.container_legal {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: left;
  justify-content: space-evenly;
}

.container_legal a {
  color: black;
  opacity: 1;
  z-index: 10;
}

.contain_social {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: justify;
  height: 30%;
  margin-top: 80px;
}

.contain_social h3 {
  width: auto;
  text-align: left;
  margin-top: 2px;
  margin-bottom: 6px;
}

.contain_socicon {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

div.container_icon_foot {
  display: flex;
  width: 135px;
  height: 135px;
  margin-top: 35px;
}

.container_icon_foot img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.container_copyR {
  display: inline-block;
  position: relative;
  z-index: 2;
  width: 100%;
  background: black;
}

.container_copyR h4 {
  color: white;
  font-weight: lighter;
}

/*------------------main products----------------*/

.container_category {
  display: flex;
  flex-direction: row;
  justify-content: stretch;
}

.container_list {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 500px;
  align-items: flex-start;
  padding-left: 10px;
  padding-right: 10px;
}

.container_list li a{

  font-size: 20px;
}

#category {
  display: flex;
  position: sticky;
  top: 150px;
  flex-direction: column;
  width: 30%;
  height: 500px;
}

/*----------------main About Us-------------------*/

.containInfo {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 350px;
}

.alineado {
  margin-left: 3%;
  margin-right: 3%;
  text-align: justify;
}

.containImgAbout {
  margin-right: 3%;
}

.containImgAbout img {
  border-radius: 5%;
}

/*----------------main Contact--------------------*/

.contact {
  background-color: whitesmoke;
  width: 90%;
  margin-left: 5%;
  font-size: 17px;
  font-weight: 600;
}

.containRadio {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.containFrom {
  background-image: url(img/granola.png);
  background-repeat: no-repeat;
  background-size: cover;

  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 800px;
}

.containText {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.containText input {
  display: block;
  width: 80%;
  height: 50px;
  margin-left: 10%;
}

.containBoxText textarea {
  font-size: 20px;
  width: 74%;
  margin-top: 1%;
}

.containText label {
  margin-left: 10%;
  margin-top: 1%;
  margin-bottom: 1%;
}

.containCheckbox {
  display: inline;
  margin-right: 1%;
}

.containBtm button {
  width: 150px;
  height: 35px;
  color: whitesmoke;
  background-color: slategrey;
  font-size: 20px;
}

#secIframMap {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.containWatsapp {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.alineacion p {
  text-align: justify;
  margin-top: 15%;
}

.numeroWhatsapp {
  margin-left: 10%;
}

.containdireccion {
  display: flex;
  flex-direction: row;
  align-items: center;
}

span h5 {
  font-size: 25px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: darkslategrey;
}
.containWatsapp img {
  object-fit: contain;
  width: 50px;
  height: 50px;
}

.googleMapsIfram iframe {
  border-radius: 5%;
  margin-top: 5%;
  margin-bottom: 5%;
}

/*-------------------Login--------------------------*/

.login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 550px;
}

.login1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 850px;
}

.containField {
  background: linear-gradient(to top, #cfdef3, #e0eafc);
  width: 100%;
}

.containLogin {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  width: 50%;
  height: 65%;
  background-color: whitesmoke;
  font-size: 18px;
  font-weight: 400;
  border-radius: 1%;
}

.containLogin input {
  width: 90%;
  height: 35px;
  margin-left: 5%;
  margin-top: 2%;
}

.containLogin label {
  text-align: left;
  margin-top: 2%;
  margin-bottom: 2%;
  margin-left: 5%;
}

.containA {
  margin-top: 2%;
  margin-bottom: 2%;
}

.containRegist {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  width: 50%;
  height: 86%;
  background-color: whitesmoke;
  font-size: 18px;
  font-weight: 400;
}

.containRegist input {
  width: 90%;
  height: 35px;
  margin-left: 5%;
  margin-top: 2%;
}

.containRegist label {
  text-align: left;
  margin-top: 2%;
  margin-bottom: 2%;
  margin-left: 5%;
}
